<!-- Include the base template -->
{% extends "blog/base.html" %}

<!-- Insert content inside the block in "base.html" -->
{% block content %}
    
    <!-- "view.kwargs.username": Get "username" parameter passed into the URL -->
    <!-- "page_obj.paginator.count": Total number of posts subdivided by the paginator -->
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>

    {% for post in posts %} 
        <article class="media content-section">

            <!-- Access the:
                - Current post
                - The author of the current post
                - The profile associated with the author
                - Image stored on the current profile
                - URL of the image
            -->
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">

            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    
                    <!-- Date is formatted to only show the date itself and not the time  -->
                    <!-- Filter (|): Used to format the time in a specific way -->
                    <!-- Date format: Month Day, Year   
                        - F: Full textual month
                        - d: Day number
                        - Y: Year in number format
                    -->
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>

                </div>

                <!-- 
                    HREF:
                    The URL references the post-detail page. However, the post-detail page
                    requires a "pk" (primary key) argument. We pass it using "post.id" 
                -->
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    
    <!-- PAGINATION-->
    <!-- If page is divided into sub-pages -->
    {% if is_paginated %}

        <!-- Previous Pages -->
        <!-- page_obj: Current page object (eg. Page 1 object) -->
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!-- Nearby Pages -->
        <!-- Iterate through all of the pages -->
        {% for num in page_obj.paginator.page_range %}

            <!-- Num = Current page -->
            {% if page_obj.number == num %}
                <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
            
            <!-- Num is 3 numbers away from the current page -->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
            {% endif %}
            
        {% endfor %}

        <!-- Next Pages -->
        <!-- page_obj: Current page object (eg. Page 1 object) -->
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock content %}